body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #240b36, #c31432);
    color: white;
    height: 100vh;
    font-family: "Gowun Batang", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    width:5vw;
}

#Telegram{
    position:relative;
    top:1.9vw
} 

h1, h2, h3 {
    margin: 0;
}

#git{
    position:relative;
    top:1.4vw;
    max-width: 4vw;
    min-width:2vw;
}

.header {
    text-align: center;
    background: linear-gradient(135deg, rgb(36, 11, 54), rgb(195, 20, 50));
    color: #EBD3F8;
    padding: 1.2rem;
    font-family: "Mate SC", serif;
    font-size: 1.8rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.tagline {
    text-align: center;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #FFEB55;
    margin: 1rem auto;
    max-width: 85%;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.2rem 1rem;
    gap: 1rem;
}

.central p{
    margin-top: 5rem;
}

#crypto-price-predictor {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 1.2rem;
    font-size: 0.9rem;
    text-align: center;
    width: 95%;
    max-width: 400px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-top: 5rem;
    margin-bottom: 3rem;
}

#crypto-price-predictor h2 {
    margin-bottom: 0.6rem;
    color: #FFEB55;
    font-family: "Fredoka", sans-serif;
    font-size: 1.3rem;
}

#crypto {
    display: block;
    width: 100%;
    max-width: 100%; /* Ensures it stays within the container */
    font-size: 1.1rem;
    padding: 0.7rem;
    border-radius: 10px;
    border: none;
    margin: 0.8rem 0;
    background-color: #f0f0f0;
    color: #000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    box-sizing: border-box; 
}

#predict-btn {
    font-family: "Fredoka", sans-serif;
    border-radius: 19px;
    color: #000;
    font-size: 1.1rem;
    background: #FFEB55;
    padding: 0.6rem 1.8rem;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

#predict-btn:hover {
    background: #fbd786;
}

#price-result {
    margin-top: 1.2rem;
}

#price {
    margin-top: 0;
    font-size: 1.5rem;
    color: #FFEB55;
    font-weight: bold;
}

#repo-info {
    background-color: #fffefe10;
    padding: 1.5rem;
    box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
    min-height: 12rem;
}

#repo-info .left a {
    position: relative;
    text-shadow: 0 4px 10px #fefe09;
}

#repo-info .left a::before {
    content: '';
    position: absolute;
    top: 100%; /* Adjust this to align the underline at the bottom */
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #FFEB55; /* The underline color */
    transition: width .3s linear;
}

#repo-info .left a:hover::before {
    width: 100%; /* The underline expands fully when hovering */
}


#repo-info .left a i{
    font-size: 1.2rem;
    margin-right: 0.5rem;
    text-align: center;
}

#repo-info .right h2{
    margin-bottom: 1.5rem;
}

#repo-info .right a{
    font-size: 1rem;
    margin: 2rem 0.5rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    text-align: center;
    transition: background-color 0.3s ease-in;
}

#repo-info .right a:hover{
    background-color: white;
    color: #c31432;
}

#repo-info p {
    margin: 0.5rem 0;
    color: #FFF;
}

#repo-info a {
    color: #FFEB55;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

#repo-info a:hover {
    color: #fbd786;
}

#crypto-suggestions {
    display: none;
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    width: 90%;
    z-index: 1000;
    left: 5%;
    color: #000;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#crypto-suggestions div {
    padding: 10px;
    cursor: pointer;
}

#crypto-suggestions div:hover {
    background-color: #f0f0f0;
}

@media (min-width: 768px) {
    .central {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    #crypto-price-predictor {
        width: 45%;
    }

    .tagline {
        font-size: 2.5rem;
        max-width: 70%;
    }

    .header h1 {
        font-size: 3rem;
    }
}

@media (max-width: 767px) {
    #crypto-price-predictor {
        width: 100%; 
        padding: 1.2rem;
    }

    #crypto {
        font-size: 1rem; 
    }

    #predict-btn {
        font-size: 1rem;
        padding: 0.5rem 1.2rem;
    }

    .tagline {
        font-size: 1rem;
        max-width: 90%;
        text-align: center;
        margin: 0.8rem auto;
    }

    .header h1 {
        font-size: 1.4rem;
    }

    #repo-info {
        padding: 1rem;
        font-size: 0.9rem;
    }

    #repo-info h2{
        font-size: 1rem;
    }

    #repo-info p {
        font-size: 0.9rem;
        margin: 0.5rem auto;
        max-width: 90%;
    }

    #repo-info a {
        font-size: 1rem;
        word-wrap: break-word;
    }
}

#telegram-bot {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.bot-link{
    text-decoration: none;
    color: #FFEB55;
}

.bot-text{
    font-size: 1rem;
    margin-block: 0px;
}


/* Here are the styles for the theme toggel  */
/* Theme switcher */
.theme-switch {
    display: inline-block;
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: linear-gradient(116deg, #ffffff, #a00101);
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    vertical-align: middle;
}

.theme-switch::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px; /* Initial position for light mode */
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: left 0.3s ease-in-out, background-image 0.3s ease-in-out;
    background-image: url('Assets/moon.png'); /* Icon for light mode */
}

.theme-switch.dark-theme {
    background: linear-gradient(92deg, #ff0000, #ffffff); /* Background for dark mode */
}

.theme-switch.dark-theme::before {
    left: 33px; /* Move the toggle to the right for dark mode */
    background-image: url('Assets/sun.png'); /* Icon for dark mode */
}

/* Other dark mode styles */
.header.dark-mode {
    background: linear-gradient(303deg, #000000, #500210);
} 

body.dark-mode{
    background: linear-gradient(303deg, #000000, #500210);
    color: #ffecec;
}
p.tagline.dark-mode{
    color: #ffffff;
}

/* About Section */
#about {
    position: relative;
    overflow: clip;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.tagline {
    color: #FFFF00; 
    position: relative; 
    z-index: 3; 
    font-size: 35px; 
    text-shadow: 0 0 20px #dec6ff;
}

#about .content p {
    font-size: 1.2rem; 
    line-height: 1.6; 
    color: #ffffff; 
    position: relative;
    z-index: 3;
    text-align: center;
    text-shadow: 
        0 0 10px rgba(255, 255, 255, 1),   
        0 0 20px rgba(255, 255, 255, 0.8), 
        0 0 30px rgba(255, 255, 255, 0.6), 
        0 0 40px rgba(255, 255, 255, 0.4), 
        0 0 50px rgba(0, 255, 255, 0.6); 
}

/* Why Us Section */
.why-us {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 2rem 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.row {
    margin-top: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 0 -0.5;
}

.card {
    background: #c18bff22;
    border-radius: 10px;
    padding: 1.5rem;
    flex: 0 0 calc(50% - 1rem);
    margin: 0.5rem; 
    color: #FFF;
    transition: transform 0.3s ease;
    display: block;
    box-sizing: border-box;   
}

.card:hover {
    background: rgba(28, 0, 46, 0.523);
    transform: translateY(-5px);
}

.card span{
    font-size: 30px;
    font-weight: bold;
}

.card h4 {
    color: #FFEB55;
    font-family: "Fredoka", sans-serif;
    font-size: 1.2rem;
}

.card p {
    font-size: 0.9rem;
}

/* FAQ section */
#faq .tagline{
    color: #eee2f3;
    font-size: 20px;
    text-shadow: none;
}
.contact-link {
    color: #dde665;
}
.faq-heading {
    font-weight: 700;
    font-size: 19px;
    transition: text-indent 0.2s;
    text-indent: 20px;
    color: #3f0c55;
}
  
.faq-text {  
    font-weight: 600;
    color: #2E073F;
    width: 95%;
    padding-left: 20px;
    margin-bottom: 10px;
}
  
.faq {
    width: auto;
    margin: 0 auto;
    position: relative;
    padding-top: 60px; /* Adjust according to your navbar height */
    margin-top: -60px; /* Negative margin to balance the spacing */
}

.faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top:1px;
    background-color: #ffffcd;
    border-bottom: 1px solid #2E073F;
}
  
.faq input[type="checkbox"] {
    display: none;
}
  
.faq .faq-arrow {
    width: 5px;
    height: 5px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 3px solid rgba(0, 0, 0, 0.33);
    border-right: 3px solid rgba(0, 0, 0, 0.33);
    float: right;
    position: relative;
    top: -30px;
    right: 27px;
    transform: rotate(45deg);
}
  
.faq input[type="checkbox"]:checked + label > .faq-arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: rotate(135deg);
}

.faq input[type="checkbox"]:checked + label {
    display: block;
    background: rgba(255,255,255,255) !important;
    color: #4f7351;
    height: 140px;
    transition: height 0.8s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  
.faq input[type='checkbox']:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    height: 60px;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar {
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #c3143178;
    color: #dec6ff;
    /* opacity: ; */
    z-index: 100;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo {
    order: 1;
    font-size: 2.3rem;
}

.menu-items li {
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a {
    color: #dec6ff;
    text-decoration: none;
    font-weight: 700;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover {
    color: #f6ff00;
}

/* Media Queries for Mobile View */

/* Medium devices (tablets, 768px and below) */
@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 64px;
    }

    .menu-items {
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .menu-items li {
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo {
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .row {
        flex-direction: column;
    }

    .card {
        flex: 1 1 100%;
    }
}
@media (max-width: 895px) {
    #repo-info {
        position: relative;
        display: flex;
        flex-direction: column !important;
        align-items: first baseline;
        padding: 0 !important;

    }
    #repo-info .left{
        margin-left: 1rem;
    }
    #repo-info .right{
        margin-top: 3rem !important;
        margin-left: 1rem;
    }
}
/* Small devices (phones, 500px and below) */
@media (max-width: 500px) {
    .logo {
        font-size: 2.2rem;
    }

    #about {
        padding: 5rem 1rem;
    }

    .tagline {
        font-size: 24px;
    }

    #about .content p {
        font-size: 1rem;
    }

    .card {
        padding: 1rem;
        flex: 1 1 100%;
    }

    .menu-items {
        padding-left: 20px;
    }

    .faq-heading {
        font-size: 16px;
    }
}


@media (max-width: 768px) {
    .navbar {
      opacity: 0.95;
    }

    .navbar-container {
      display: block;
      position: relative;
      height: 50px;
    }

    .hamburger-lines {
      display: block;
      height: 28px;
      width: 35px;
      position: absolute;
      top: 10px;
      left: 20px;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
    }

    .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #EBD3F8;
    }

    .menu-items {
      padding-top: 100px;
      background: #606060f0;
      height: 100vh;
      max-width: 300px;
      transform: translate(-150%);
      display: flex;
      flex-direction: column;
      margin-left: -40px;
      padding-left: 40px;
      transition: transform 0.5s ease-in-out;
      box-shadow: 5px 0px 10px 0px #aaa;
      overflow: scroll;
    }

    .navbar .menu-items li {
      margin-bottom: 1.8rem;
      font-size: 1rem;
      font-weight: 500;
    }

    .logo {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 1rem;
    }

    .menu-active {
      transform: translateX(0);
    }

    .hamburger-active .line1 {
      transform: rotate(45deg);
    }

    .hamburger-active .line2 {
      transform: scaleY(0);
    }

    .hamburger-active .line3 {
      transform: rotate(-45deg);
    }
}

@media (max-width: 500px) {
    .logo {
      font-size: 1rem;
    }
}
